@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Geist';
    src: url('../public/fonts/Geist-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }

  html, body {
    @apply h-full;
  }

  body {
    @apply bg-[#30283A] text-white;
    overscroll-behavior: none;
  }
}